/* 代码整理：懒人之家 www.lanrenzhijia.com */
*{margin:0;padding:0;list-style:none;border:0;}
body{width:100%; height:auto; background:#FCFCFC repeat; overflow-x:hidden;}
.bannertop,.maincont{width:100%; height:433px; margin-left:auto; margin-right:auto; text-align:center; position:relative;}
.bannertop{z-index:1; overflow:hidden;}
.maincont{height:540px;}
.bannerwapper{width:100%; height:100%; position:relative;}
.bannerwin,.bannerios,.bannerandr{width:100%; height:433px; left:100%; position:absolute; top:0;}
.bannerwin{background: url("../images/1.jpg") no-repeat scroll center top transparent;}
.bannerios{background: url("../images/ios.jpg") no-repeat scroll center top transparent;}
.bannerandr{background: url("../images/android.jpg") no-repeat scroll center top transparent;}
.bannercontent{width:980px; text-align:center; margin-left:auto; margin-right:auto;}
.bannercontent,.bannerimg{height:433px;}
.bannercontent{position:relative;}
.windows_ico,.ios_ico,.android_ico{position:absolute; cursor:pointer; background:url("../images/wpmain.png") no-repeat;}
/* ios */
.iphonepart,.ioswpart{position:absolute; width:152px; height:155px; left:102px; top:260px;}
.iphonepart{left:102px;}
.ioswpart{left:263px;}
.partwrapper{width:100%; height:100%; position:relative;}
.downiphone,.downipad{position:absolute; cursor:pointer; z-index:100; height:56px; width:151px; left:2000px; top:21px; background:url("../images/download.png") no-repeat;}
.downiphone{background-position:-29px -30px;}
.downiphone:hover{background-position:-29px -152px;}
.downipad:hover{background-position:-205px -296px;}
.downipad{background-position:-29px -296px;}
/* windows */
.windows_ico{left:426px; top:375px; height:45px; width:45px; z-index:90; background-position:-215px -68px;}
.windows_active{background-position:-215px -120px;}
.forwin{position:absolute;}
.downloadpc{background:url("../images/wpmain.png") no-repeat; display:block;}
.textdisp{display:block; background:url("../images/pcv1_8.png") scroll 0px 0px no-repeat; top:125px; height:100px; width:377px; left:2000px;}
.downloadpc{width:195px; height:56px; background-position:-210px -185px; top:258px; left:2000px;}
.screenpc{height:295px; width:490px; background:url("../images/bg1.png") scroll 0 0 transparent no-repeat; left:2000px; top:90px;}
.changeTime{height:101px; width:37px; cursor:pointer; position:absolute; display:block; z-index:50; left:31px; top:66px;}
.times{height:78px; cursor:pointer; width:37px; background:url("../images/time.png") scroll -10px -10px no-repeat; display:block;}
.downtri{height:37px; cursor:pointer; width:25px; display:block; background:url("../images/time.png") scroll -225px -10px no-repeat;}
.ios_ico{left:483px; top:375px; height:45px; width:45px; z-index:90; background-position:-270px -68px;}
.ios_active{background-position:-270px -120px;}
.android_ico{z-index:90; left:544px; top:375px; height:45px; width:45px; background-position:-325px -68px;}
.android_active{background-position:-325px -120px;}
.arrow{position:absolute; background:url("../images/modify.png") no-repeat scroll -144px -219px transparent; height:15px; width:15px; display:block; left:498px; top:422px; z-index:1;}
.forios{width:550px; height:393px; position:absolute; left:2000px; top:40px; border-radius:15px; display:block; background:url("../images/ios_bg.png") no-repeat; background-position:0px 0px;}
.forwait{width:86px; height:32px; position:absolute; right:368px; top:341px; z-index:111; display:none; background:url("../images/later.png") no-repeat; background-position:0px -1px;}
.downloadup,.downloaddown,.ipadup,.ipaddown{display:none; position:absolute; background:url("../images/iosBtn.png");}
.downloadup,.ipadup{z-index:50;}
.downloaddown,.ipaddown{z-index:150;}
.downloadup,.ipadup{height:55px; width:105px; top:0; left:24px; background-position:-243px -133px;}
.downloaddown,.ipaddown{height:76px; width:113px; left:20px; top:64px; background-position:-380px -195px;}
.innnerIphone,.innerIpad{position:relative; width:100%; height:100%;}
/*android*/
.androidDis,.androidcode{position:absolute; display:block; background:url("../images/androidmain.png") no-repeat;}
.andrtext{position:absolute; display:block; background:url("../images/andr_v1.1.png") no-repeat; width:438px; height:120px; top:93px; background-position:0px 0px;}
.downandroid,.scancode{position:absolute; background:url("../images/downandr.png") no-repeat; display:block;}
.downandroid{height:60px; width:192px; top:245px; background-position:-78px 0px;}
.androidDis{background:url("../images/andr_phone.png") no-repeat scroll 0 0; height:388px; width:445px; top:50px;}
.scancode{background:url("../images/androidmain.png") no-repeat scroll -309px -38px; height:17px; width:122px; top:314px;}
.scancode2{position:absolute; height:15px; width:120px; top:315px; background:url("../images/androidmain.png") no-repeat; background-position:-308px -37px; display:block;}
.androidcode{background:url("../images/andrcode.png") no-repeat scroll 0 0; width:85px; height:85px; top:245px;}
.wandou{position:absolute; top:314px;}
.btinstall,.dirdown,.istoredown,.padinstall,.paddirdown,.istorepaddown{position:absolute; display:block; height:22px; width:94px; left:10px; cursor:pointer;}
.btinstall,.padinstall{top:14px;}
.btinstall:hover,.padinstall:hover{background:url("../images/iosBtn.png") no-repeat; background-position:-550px -201px;}
.dirdown:hover,.paddirdown:hover{background:url("../images/iosBtn.png") no-repeat; background-position:-550px -209px;}
.istoredown:hover,.istorepaddown:hover{background:url("../images/iosBtn.png") no-repeat; background-position:-685px -236px;}
.dirdown,.paddirdown{top:14px;}
.istoredown,.istorepaddown{top:41px;}
.padinstall{cursor:not-allowed;color:#AAAAAA;}
/* 代码整理：懒人之家 www.lanrenzhijia.com */