@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */
* {
	margin:0;
	padding:0;
}
body {
	text-align:left;
}
ul, li {
	list-style:none;
}
img {
	border:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
#banner {
	width: 100%;
	height: 390px;
	background: #000;
	overflow: hidden;
	position: relative;
}
#banner_img {
	display: block;
	position: relative;
}
#banner_img li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-position: center;
	background-size: cover;
	display: none;
}
/*设置背景图片-------开始*/
#banner_img li.item1 {
	background-image: url(../images/1lunbo1.jpg);
	display: block;
}
#banner_img li.item2 {
	background-image: url(../images/2lunbo2.jpg);
}
#banner_img li.item3 {
	background-image: url(../images/3lunbo3.jpg);
}
#banner_img li.item4 {
	background-image: url(../images/1hnav1.jpg);
}
#banner_img li.item6 {
	background-image: url(../images/jiuzhou1920x390-9.jpg);
}
/*设置背景图片--------结束*/
    #banner_img .ad_img {
	position: absolute;
	right: 10px;
	top: 80px;
	width: 506px;
	height: 404px;
}
#banner_img .ad_txt {
	position: absolute;
	left: 10px;
	top: 170px;
	color: #fff;
	text-shadow: 1px 1px rgba(51, 51, 51, 0.3);
}
#banner_img .ad_txt h2 {
	font: bold 36px/60px Microsoft YaHei;
}
#banner_img .ad_txt a {
	display: block;
	width: 100px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-top: 10px;
	background: #fff;
	color: #666;
}
#banner_ctr {
	position: absolute;
	width: 960px;
	height: 122px;
	margin-left: -90px;
	left: 35%;
	bottom: -75px;
	z-index: 1;
}
#banner_ctr ul {
	width: 100%;
}
#banner_ctr li {
	float: left;
	display: inline-block;
	height:27px;
	text-align:center;
	vertical-align: middle;
	cursor: pointer;
}
#drag_ctr {
	position: absolute;
	top:-5px;
	cursor: pointer;
	left: 0px;
	width: 119px;
	height: 32px;
	bottom: 120px;
	background: url(../images/kk1.png) no-repeat;
	padding:0px 0px 0 0px;
	margin: 0 auto;
	overflow: hidden;
	color:#fff;
	filter: alpha(opacity=50);
	color:#ffffff;
}
.wrapper {
	width: 986px;
	margin: 0 auto;
	position: relative;
	height:390px;
}
.styclsa {
	line-height:27px;
	background: url(../images/kk.png) no-repeat;
	height:27px;
	color:#ffffff;
	font-size: 12.48px;
	padding:0px 0px 0 0px;
	width:119px;
	margin: 0 auto;
	overflow: hidden;
	font-family:"宋体";
	zoom: 1;
}
.astysa {
	color:#ffffff;
	font-size: 12.48px;
	text-align:center;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */