@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */
* {
	margin:0;
	padding:0;
}
body {
	font: 12px/18px Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #333333;
	background-color: #fff;
}
ul, li {
	list-style:none;
}
img {
	border:none;
}
.content {
	width: 900px;
	margin: 0 auto;
	padding: 0 0 25px 0;
	overflow: hidden;
}
.content-wrapper .content .left-side {
	width: 587px;
	padding: 0 33px 0 0;
	margin: 24px 0 0 0;
	background: url(../images/content-left-side-bg.png) top right repeat-y;
	float: left;
}
.content-wrapper .content .right-side {
	width: 250px;
	padding: 0 0 0 30px;
	margin: 24px 0 0 0;
	float: left;
}
.lanrenzhijia {
	padding: 24px 0 0 0;
	width:900px;
	margin:0 auto;
}
.homepage-slider {
	width: 900px;
	position: relative;
	overflow: hidden;
}
.homepage-slider .tag {
	width: 81px;
	height: 81px;
	background: url(../images/top-stories-tag.png) 0 0 no-repeat;
	position: absolute;
	z-index: 1;
}
.homepage-slider .rounded-corners {
	width: 900px;
	height: 3px;
	background: url(../images/homepage-slider-rounded-corners.png) 0 0 no-repeat;
	position: absolute;
	z-index: 2;
}
.homepage-slider .navigation {
	padding: 16px 0;
	margin: -9px 0 5px 400px;
	overflow: hidden;
}
.homepage-slider .navigation a {
	margin: 0 10px 0 0;
	width: 10px;
	height: 10px;
	background: url(../images/ico-bullet-8.png) 0 0 no-repeat;
	display: block;
	float: left;
}
.homepage-slider .navigation a:hover {
	background-position: 0 -10px;
}
.homepage-slider .navigation .active {
	background-position: 0 -10px;
}
.homepage-slider .btn-previous {
	width: 450px;
	height: 350px;
	text-indent: 5000px;
	position: absolute;
	z-index: 2;
}
.homepage-slider .btn-previous:hover {
	background: url(../images/homepage-slider-btn-previous-bg.png) center left no-repeat;
}
.homepage-slider .btn-next {
	margin: 0 0 0 450px;
	width: 450px;
	height: 350px;
	text-indent: 5000px;
	position: absolute;
	z-index: 2;
}
.homepage-slider .btn-next:hover {
	background: url(../images/homepage-slider-btn-next-bg.png) center right no-repeat;
}
.homepage-slider-item {
	width: 900px;
	height: 350px;
	float: left;
}
.homepage-slider-item .background {
	margin: 237px 0 0 0;
	width: 900px;
	height: 83px;
	background: url(../images/top-stories-info-bg.png) 0 0 no-repeat;
	position: absolute;
	z-index: 1;
}
.homepage-slider-item .title {
	margin: 237px 0 0 0;
	padding: 13px 220px 0 16px;
	width: 664px;
	height: 70px;
	color: #fff;
	text-decoration: none;
	display: block;
	position: absolute;
	z-index: 2;
}
.homepage-slider-item .title i {
	height: 18px;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 5px;
	display: block;
	overflow: hidden;
}
.homepage-slider-item .title:hover i {
	color: #00c6ff;
	text-decoration: underline;
}
.homepage-slider-item .title u {
	height: 36px;
	text-decoration: none;
	display: block;
	overflow: hidden;
}
.homepage-slider-image-shadow {
	width: 900px;
	height: 9px;
	background: url(../images/image-shadow-5.png) center 1px no-repeat;
}
.homepage-columns {
	margin: 0 0 30px 0;
	overflow: hidden;
}
.homepage-columns .last {
	margin: 0;
}
.homepage-columns-item {
	margin: 0 40px 0 0;
	width: 195px;
	float: left;
}
.homepage-columns-item .title {
	margin: 0 0 12px 0;
	padding: 0 0 9px 0;
	font-size: 18px;
	font-weight: bold;
	color: #004a7b;
	background: url(../images/homepage-columns-item-h2-bg.png) bottom center no-repeat;
}
.homepage-columns-item .title div {
	padding: 14px 0 0 60px;
	height: 34px;
}
.homepage-spacer {
	margin: 0 0 30px 0;
	height: 3px;
	line-height: 3px;
	background: url(../images/shortcode-spacer-2-bg.png) top left repeat-x;
}
.homepage-about {
	margin: 0 30px 0 0;
	width: 620px;
	float: left;
}
.homepage-about .caps:first-letter {
	margin: 5px 6px 0 0;
	font-size: 40px;
	font-weight: bold;
	float: left;
}
.homepage-about p {
	margin: 0 0 12px 0;
}
.homepage-footer .block-1 {
	float: left;
}
.homepage-footer .last {
	margin-bottom: 0;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */